# Ignore virtual environment
.venv/*

# Ignore Cache
__pycache__/*

# Ignore data files
data/*
models/*
pickles/*
audio/*
maps/*
decoder.pth
encoder.pth
logs/*
test_audio/*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore local .env files
*.env

